/*

  @package infotheme
  
*/
.info-general-form,
.info-sidebar-preview{display: inline-blog; float: left;}
.info-sidebar-preview{width: 280px; background-color: #1F1F1F; padding: 20px; text-align: center; margin-right: 20px;}
.info-sidebar{ display: block; text-align: center;}
h1.info-username,
h2.info-description{font-weight:100; color: #fff;}
h1.info-username{font-size: 24px; margin: 0 0 10px}
h2.info-description{font-size: 13px; margin: 0 0 20px}

